<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user, @options %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	
	<div class="span8">
		<% if @user.microsamples.any? %>
			<h3><%= pluralize(@user.microsamples.count, 'Sample') %> Samples of <%= @user.name %>'s Life </h3>
			<ol class="microsamples">
				<%= render @microsamples %>
			</ol>
			<%= will_paginate @microsamples %>
		<% end %>
	</div>
</div>